.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 15px 40px 10px 10px; /* Ajuste o padding para o olho */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: transparent;
}

.input-group input:focus {
  border-color: #000080;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #888;
  font-size: 1em;
  pointer-events: none;
  transition: all 0.3s ease;
  background-color: white;
  padding: 0 5px;
  z-index: 1;
}

.input-group.active label {
  top: -10px;
  font-size: 0.8em;
  color: #000080;
  left: 8px;
  transform: translateY(0);
}

.input-group .input-border {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}

.input-group input:focus + label {
  top: -10px;
  font-size: 0.8em;
  color: #000080;
  left: 8px;
}

.password-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 1.2em;
  z-index: 2; /* Garante que o ícone esteja acima do input */
}