.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d7cff;
  color: #fff;
  margin-top: 50px;
  height: 500px;
  box-sizing: border-box;
  width: 1000px; /* largura fixa e estática */
  max-width: 1400px; /* impede que aumente */
  min-width: 1180px; /* impede que diminua */
  margin-left: 100px;
  margin-right: 1px;
  overflow: hidden; /* impede que conteúdo ultrapasse */
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 620px;
  width: 100%;
  margin-left: 0;
  padding-left: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.banner-subtitle {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: -15px;
  padding-left: 3px;
  color: #fff;
  letter-spacing: 1px;
}

.banner-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.1px;
  color: #fff;
  line-height: normal;
  white-space: nowrap;   /* não quebra linha */
  overflow: hidden;      /* esconde excesso */
  text-overflow: ellipsis; /* adiciona "..." se cortar */
}

::-webkit-scrollbar {
  width: 1px;   /* largura da barra */
}

.banner-description {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: #fff;
  line-height: 1.6;
  width: 100%;
  max-width: 620px;
  overflow: hidden;
}

.banner-button {
  background: #fff;
  color: #1d7cff;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: background 0.2s, color 0.2s;
  width: 270px;
  padding-bottom: 10px;
}

.banner-button:hover {
  background: #e6f0ff;
}

.banner-image-container {
  margin-right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.banner-image {
  max-width: 500px;
  height: auto;
  padding-right: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
